body {
    background-color: #222;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

    
}

.table {
    width: 70vw;
    border: 1px solid #888;
    box-sizing: border-box;
    border-radius: 7px;
    margin-bottom: 50px;
    /* border-collapse: collapse; */
    border-spacing: 0;
    
}

.table tr td,
.table tr th {
    border-bottom: 1px solid #888;
    box-sizing: border-box;
    padding: 8px;
    text-align: left;
    height: 40px;
} 

.table tr:last-child td {
    border-bottom: none;

}
.table .table-name  {
    color:white;
    font-size: 13px;
    width: 50%;


}
.table .table-value {
    color: #888;
    font-size: 13px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.table .table-head {
    color: white;
    font-weight: bold;

}.table .name-icon {
    margin-left: 8px;
}
.table .checkbox {
    margin-right: 8px;
}
.table .icon-dots {
    color: ivory;
}
.table .table-head-search {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.table .input-search {
    background-color: transparent;
    border: none;
    color: #f2f2f2;
}
.table .input-search-wrapper {
    background-color: #888;
    padding: 5px;
    border-radius: 5px;
    display: flex;
    align-items: center;
}
.table .input-search::placeholder {
    color: #f2f2f2;

}
.table .input-search:focus {
    outline: 0;
}
.table .icon-search {
    font-size: 14px;
    margin-right: 8px;

}
.table .icon-file {
    color:#1aa3ff;
    margin-right: 8px;
    margin-left: 8px;
}